Repository MicrosoftDocs/WindowsCommunityToolkitDocs, pull requests merged in 2021-03, with the labels that each got.

#433 chore: Docs-Authoring code fence cleanup
  docs/Getting-Started.md
  docs/animations/lottie-scenarios/async_play.md
  docs/animations/lottie-scenarios/playback.md
  docs/animations/lottie-scenarios/segments.md
  docs/archive/graph/AadLogin.md
  docs/archive/graph/PeoplePicker.md
  docs/archive/graph/PlannerTaskList.md
  docs/archive/graph/ProfileCard.md
  docs/archive/graph/SharePointFileList.md
  docs/controls/MarkdownTextBlock.md
  docs/controls/RemoteDevicePicker.md
  docs/controls/datagrid_guidance/customize_autogenerated_columns.md
  docs/controls/datagrid_guidance/datagrid_basics.md
  docs/controls/datagrid_guidance/group_sort_filter.md
  docs/controls/datagrid_guidance/rowdetails.md
  docs/controls/wpf-winforms/WebView.md
  docs/controls/wpf-winforms/WebViewCompatible.md
  docs/extensions/ArrayExtensions.md
  docs/extensions/NullableBoolMarkup.md
  docs/extensions/ScrollViewerExtensions.md
  docs/extensions/StringExtensions.md
  docs/gaze/GazeInteractionLibrary.md
  docs/helpers/RemoteDeviceHelper.md
  docs/high-performance/Introduction.md
  docs/parsers/RSSParser.md
Labels: Ready to Merge :rocket:, doc-enhancement :sparkles:

#440 fix: MD034 bare links
  .markdownlint.json
  docs/controls/wpf-winforms/WebView.md
  docs/graph/providers/InteractiveProviderBehavior.md
  docs/helpers/PrintHelper.md
  docs/services/Facebook.md
  docs/services/GraphLogin.md
  docs/services/Linkedin.md
  docs/services/Twitter.md
  docs/services/Weibo.md
Labels: Ready to Merge :rocket:, doc-enhancement :sparkles:

#442 fix: MD010 replace hard tabs
  .markdownlint.json
  docs/animations/Expressions.md
  docs/animations/Rotate.md
  docs/animations/lottie-scenarios/getting_started_codegen.md
  docs/archive/SlidableListItem.md
  docs/controls/CameraPreview.md
  docs/controls/Expander.md
  docs/controls/ImageEx.md
  docs/controls/RadialGauge.md
  docs/controls/RadialProgressBar.md
  docs/controls/RangeSelector.md
  docs/controls/RemoteDevicePicker.md
  docs/controls/RotatorTile.md
  docs/controls/ScrollHeader.md
  docs/controls/TextToolbar.md
  docs/controls/TileControl.md
  docs/extensions/ArrayExtensions.md
  docs/extensions/Hyperlink.md
  docs/extensions/HyperlinkExtensions.md
  docs/extensions/LogicalTree.md
  docs/extensions/StringExtensions.md
  docs/extensions/TextBoxRegex.md
  docs/extensions/VisualEx.md
  docs/extensions/VisualExtensions.md
  docs/extensions/VisualTree.md
  docs/extensions/WebView.md
  docs/helpers/BluetoothLEHelper.md
  docs/helpers/ImageCache.md
  docs/helpers/RemoteDeviceHelper.md
  docs/helpers/StorageFiles.md
  docs/high-performance/ParallelHelper.md
  docs/services/Facebook.md
  docs/services/GraphLogin.md
  docs/services/Twitter.md
Labels: Ready to Merge :rocket:, doc-enhancement :sparkles:

#441 fix: MD001 heading level increment
  .markdownlint.json
  docs/helpers/DeepLinkParsers.md
  docs/platform-specific/PlatformSpecificDifferencesGenerator.md
Labels: Ready to Merge :rocket:, doc-enhancement :sparkles:

#434 fix: MD047 trailing newline
  .markdownlint.json
  docs/controls/layout/StaggeredLayout.md
  docs/extensions/FrameworkElementExtensions.md
  docs/helpers/BindableValueHolder.md
  docs/helpers/DeepLinkParsers.md
  docs/knownissues.md
  docs/toc.md
  index.md
Labels: Ready to Merge :rocket:, doc-enhancement :sparkles:

#438 fix: NOTE before H1
  docs/Toolbox-Support.md
Labels: Ready to Merge :rocket:, doc-enhancement :sparkles:

#437 fix: StringExtensions h1
  docs/extensions/StringExtensions.md
Labels: Ready to Merge :rocket:, doc-enhancement :sparkles:

#451 Update .template.md
  docs/.template.md
Labels: doc-enhancement :sparkles:

#448 Add MIT License
  docs/index.md
Labels: Ready to Merge :rocket:, code-of-conduct :man_judge:, doc-enhancement :sparkles:

#447 Update Column Property
  docs/controls/RadialGauge.md
Labels: Ready to Merge :rocket:, doc-enhancement :sparkles:

#439 fix: MD039 space inside link text
  .markdownlint.json
  docs/controls/datagrid_guidance/sizing_options.md
  docs/index.md
Labels: Ready to Merge :rocket:, doc-enhancement :sparkles:

#435 fix: MD012 multiple blank lines
  .markdownlint.json
  docs/Getting-Started.md
  docs/Nuget-Packages.md
  docs/Toolbox-Support.md
  docs/archive/PullToRefreshListview.md
  docs/archive/graph/PlannerTaskList.md
  docs/collections/ObservableGroups.md
  docs/controls/ImageEx.md
  docs/controls/wpf-winforms/WebView-known-issues.md
  docs/controls/wpf-winforms/WebViewCompatible.md
  docs/extensions/Hyperlink.md
  docs/extensions/HyperlinkExtensions.md
  docs/extensions/ListViewBase.md
  docs/extensions/ViewExtensions.md
  docs/extensions/VisualEx.md
  docs/helpers/Converters.md
  docs/helpers/SystemInformation.md
  docs/helpers/Triggers.md
  docs/helpers/ViewportBehavior.md
  docs/knownissues.md
  docs/parsers/RSSParser.md
  docs/services/GraphLogin.md
  docs/services/MicrosoftTranslator.md
  docs/services/Twitter.md
Labels: Ready to Merge :rocket:, doc-enhancement :sparkles:

#436 fix: MD022 space around headings
  .markdownlint.json
  README.md
  docs/archive/HamburgerMenu.md
  docs/archive/ParallaxService.md
  docs/archive/PullToRefreshListview.md
  docs/archive/SlidableListItem.md
  docs/controls/ImageCropper.md
  docs/controls/MasterDetailsView.md
  docs/controls/TabView.md
  docs/controls/TextToolbar.md
  docs/controls/datagrid_guidance/editing_inputvalidation.md
  docs/controls/datagrid_guidance/keyboard_navigation_selection.md
  docs/controls/datagrid_guidance/rowdetails.md
  docs/controls/datagrid_guidance/sizing_options.md
  docs/controls/datagrid_guidance/styling_formatting_options.md
  docs/extensions/IconMarkupExtensions.md
  docs/extensions/MatrixExtensions.md
  docs/extensions/MatrixHelperEx.md
  docs/extensions/NullableBoolMarkup.md
  docs/extensions/TransformExtensions.md
  docs/extensions/VisualEx.md
  docs/helpers/Triggers.md
  docs/knownissues.md
  docs/platform-specific/PlatformSpecificDifferencesGenerator.md
  docs/services/GraphLogin.md
  docs/services/OneDrive.md
  docs/toc.md
Labels: Ready to Merge :rocket:, doc-enhancement :sparkles:

#444 Updates to HighPerformance docs
  docs/high-performance/Introduction.md
  docs/high-performance/Memory2D.md
  docs/high-performance/MemoryOwner.md
  docs/high-performance/ParallelHelper.md
  docs/high-performance/Ref.md
  docs/high-performance/Span2D.md
  docs/high-performance/SpanOwner.md
  docs/high-performance/StringPool.md
Labels: Ready to Merge :rocket:, doc-provided :heavy_check_mark:

#458 Add docs for SwitchPresenter
  docs/controls/SwitchPresenter.md
  docs/toc.md
Labels: doc-provided :heavy_check_mark:

#449 Refactor/extensions
  docs/animations/Blur.md
  docs/animations/CompositionAnimations.md
  docs/animations/Fade.md
  docs/animations/ImplicitAnimations.md
  docs/animations/Offset.md
  docs/animations/ReorderGrid.md
  docs/animations/Rotate.md
  docs/animations/Saturation.md
  docs/animations/Scale.md
  docs/animations/ScrollViewerExtensions.md
  docs/archive/Bing.md
  docs/archive/HamburgerMenu.md
  docs/archive/ParallaxService.md
  docs/archive/SlidableListItem.md
  docs/archive/graph/AadLogin.md
  docs/archive/graph/PeoplePicker.md
  docs/archive/graph/PlannerTaskList.md
  docs/archive/graph/PowerBIEmbedded.md
  docs/archive/graph/ProfileCard.md
  docs/archive/graph/SharePointFileList.md
  docs/extensions/ArrayExtensions.md
  docs/extensions/DependencyObjectExtensions.md
  docs/extensions/FrameworkElementExtensions.md
  docs/extensions/Hyperlink.md
  docs/extensions/HyperlinkExtensions.md
  docs/extensions/IconMarkupExtensions.md
  docs/extensions/ListViewBase.md
  docs/extensions/ListViewExtensions.md
  docs/extensions/MatrixExtensions.md
  docs/extensions/MatrixHelperEx.md
  docs/extensions/MouseCursor.md
  docs/extensions/NullableBoolExtension.md
  docs/extensions/OnDeviceExtension.md
  docs/extensions/OnDeviceMarkup.md
  docs/extensions/ScrollViewerExtensions.md
  docs/extensions/StringExtensions.md
  docs/extensions/SurfaceDialTextboxHelper.md
  docs/extensions/TextBoxExtensions.md
  docs/extensions/TextBoxMask.md
  docs/extensions/TextBoxRegex.md
  docs/extensions/UIElementExtensions.md
  docs/extensions/ViewExtensions.md
  docs/extensions/VisualEx.md
  docs/extensions/VisualExtensions.md
  docs/extensions/WebView.md
  docs/extensions/WebViewExtensions.md
  docs/helpers/HttpHelper.md
  docs/helpers/HttpHelperRequest.md
  docs/helpers/HttpHelperResponse.md
  docs/parsers/RSSParser.md
  docs/services/Facebook.md
  docs/services/GraphLogin.md
  docs/services/MicrosoftGraph.md
  docs/services/OneDrive.md
  docs/toc.md
Labels: Ready to Merge :rocket:, assigned-to-author :rocket:, doc-enhancement :sparkles:

#463 fix: MD036/no-emphasis-as-heading
  .markdownlint.json
  docs/animations/ConnectedAnimations.md
  docs/animations/Expressions.md
  docs/controls/LayoutTransformControl.md
  docs/controls/StaggeredPanel.md
  docs/controls/TextToolbar.md
  docs/controls/layout/StaggeredLayout.md
  docs/controls/wpf-winforms/WebView.md
  docs/extensions/NullableBoolMarkup.md
  docs/extensions/OnDeviceMarkup.md
  docs/platform-specific/PlatformSpecificDifferencesGenerator.md
  docs/services/Linkedin.md
  docs/services/Twitter.md
Labels: Ready to Merge :rocket:, doc-enhancement :sparkles:

#462 fix: MD009 trailing whitespace
  .markdownlint.json
  docs/Getting-Started.md
  docs/Nuget-Packages.md
  docs/Toolbox-Support.md
  docs/animations/Blur.md
  docs/animations/CompositionAnimations.md
  docs/animations/Expressions.md
  docs/animations/Light.md
  docs/animations/lottie-scenarios/getting_started_json.md
  docs/archive/HamburgerMenu.md
  docs/archive/PullToRefreshListview.md
  docs/archive/SlidableListItem.md
  docs/collections/ObservableGroups.md
  docs/controls/AdaptiveGridView.md
  docs/controls/BladeView.md
  docs/controls/Carousel.md
  docs/controls/DataGrid.md
  docs/controls/HeaderedContentControl.md
  docs/controls/HeaderedItemsControl.md
  docs/controls/HeaderedTextBlock.md
  docs/controls/Loading.md
  docs/controls/MarkdownTextBlock.md
  docs/controls/MasterDetailsView.md
  docs/controls/RadialGauge.md
  docs/controls/TokenizingTextBox.md
  docs/controls/UniformGrid.md
  docs/controls/WrapPanel.md
  docs/controls/datagrid_guidance/customize_autogenerated_columns.md
  docs/controls/datagrid_guidance/datagrid_basics.md
  docs/controls/datagrid_guidance/editing_inputvalidation.md
  docs/controls/datagrid_guidance/keyboard_navigation_selection.md
  docs/controls/layout/WrapLayout.md
  docs/controls/wpf-winforms/WebView.md
  docs/controls/wpf-winforms/WebViewCompatible.md
  docs/extensions/ListViewExtensions.md
  docs/extensions/TextBoxRegex.md
  docs/extensions/VisualEx.md
  docs/gaze/GazeInteractionLibrary.md
  docs/helpers/CameraHelper.md
  docs/helpers/Converters.md
  docs/helpers/HttpHelperRequest.md
  docs/helpers/HttpHelperResponse.md
  docs/helpers/Triggers.md
  docs/high-performance/Memory2D.md
  docs/index.md
  docs/license.md
  docs/parsers/MarkdownParser.md
  docs/platform-specific/PlatformSpecificDifferencesGenerator.md
  docs/services/Facebook.md
  docs/services/MicrosoftGraph.md
  docs/services/OneDrive.md
  docs/services/Weibo.md
Labels: Ready to Merge :rocket:, doc-enhancement :sparkles:

#446 Update Doc Links
  docs/animations/Blur.md
  docs/animations/FadeHeader.md
  docs/animations/Offset.md
  docs/animations/ReorderGrid.md
  docs/animations/Rotate.md
  docs/animations/Saturation.md
  docs/archive/Bing.md
  docs/archive/HamburgerMenu.md
  docs/archive/ParallaxService.md
  docs/archive/PullToRefreshListview.md
  docs/archive/SlidableListItem.md
  docs/archive/graph/AadLogin.md
  docs/archive/graph/PeoplePicker.md
  docs/archive/graph/PlannerTaskList.md
  docs/archive/graph/PowerBIEmbedded.md
  docs/archive/graph/ProfileCard.md
  docs/archive/graph/SharePointFileList.md
  docs/controls/AdaptiveGridView.md
  docs/controls/BladeView.md
  docs/controls/CameraPreview.md
  docs/controls/Carousel.md
  docs/controls/DockPanel.md
  docs/controls/DropShadowPanel.md
  docs/controls/Expander.md
  docs/controls/Eyedropper.md
  docs/controls/GridSplitter.md
  docs/controls/HeaderedContentControl.md
  docs/controls/HeaderedItemsControl.md
  docs/controls/ImageCropper.md
  docs/controls/ImageEx.md
  docs/controls/InAppNotification.md
  docs/controls/InfiniteCanvas.md
  docs/controls/LayoutTransformControl.md
  docs/controls/Loading.md
  docs/controls/MarkdownTextBlock.md
  docs/controls/MasterDetailsView.md
  docs/controls/Menu.md
  docs/controls/OrbitView.md
  docs/controls/RadialGauge.md
  docs/controls/RadialProgressBar.md
  docs/controls/RangeSelector.md
  docs/controls/RemoteDevicePicker.md
  docs/controls/RotatorTile.md
  docs/controls/StaggeredPanel.md
  docs/controls/TabView.md
  docs/controls/TextToolbar.md
  docs/controls/TileControl.md
  docs/controls/TokenizingTextBox.md
  docs/controls/UniformGrid.md
  docs/controls/WrapPanel.md
  docs/developer-tools/ThrowHelper.md
  docs/extensions/OnDeviceMarkup.md
  docs/helpers/ViewportBehavior.md
  docs/parsers/MarkdownParser.md
Labels: doc-bug :beetle:
