Repository MicrosoftDocs/WindowsCommunityToolkitDocs, pull requests merged in 2021-06, with the labels that each got.

#532 Update Version/Build # in Installation Page
  docs/Getting-Started.md
Labels: doc-enhancement :sparkles:

#533 Graph doc updates post bug bash
  .openpublishing.redirection.json
  docs/archive/graph/providers/InteractiveProviderBehavior.md
  docs/archive/graph/providers/MockProviderBehavior.md
  docs/graph/authentication/MsalProvider.md
  docs/graph/authentication/ProviderManager.md
  docs/graph/authentication/custom.md
  docs/graph/authentication/msal.md
  docs/graph/authentication/overview.md
  docs/graph/authentication/windows.md
  docs/graph/controls/LoginButton.md
  docs/graph/controls/PeoplePicker.md
  docs/graph/controls/PersonView.md
  docs/graph/getting-started.md
  docs/graph/helpers/extensions.md
  docs/graph/overview.md
  docs/toc.md
Labels: doc-enhancement :sparkles:, doc-provided :heavy_check_mark:

#535 OnDeviceExtention: Remove examples section
  docs/extensions/OnDeviceExtension.md
Labels: doc-enhancement :sparkles:, docs-experience

#534 IObjectSerializer fix examples.
  docs/helpers/ObjectSerializer.md
Labels: doc-enhancement :sparkles:
