Repository MicrosoftDocs/WindowsCommunityToolkitDocs, pull requests merged in 2021-02, with the labels that each got.

#414 typo: seperate -> separate
  CONTRIBUTING.md
Labels: Ready for Review ✋, doc-enhancement :sparkles:

#426 fix MarkdownRendererBase typo
  docs/parsers/MarkdownParser.md
Labels: Ready for Review ✋, Ready to Merge :rocket:, doc-bug :beetle:

#305 Update SystemInformation documentation
  docs/helpers/SystemInformation.md
Labels: enhancement :sparkles:, rebase :curly_loop: required

#365 Update InAppNotification documentation
  docs/controls/InAppNotification.md
Labels: Ready to Merge :rocket:, doc-provided :heavy_check_mark:

#366 Added StringPool docs page
  docs/high-performance/StringPool.md
  docs/toc.md
Labels: Ready for Review ✋, Ready to Merge :rocket:, doc-provided :heavy_check_mark:

#370 Added ThrowHelper APIs docs page
  docs/developer-tools/ThrowHelper.md
  docs/toc.md
Labels: Ready for Review ✋, Ready to Merge :rocket:, doc-provided :heavy_check_mark:

#379 Change RssParser to Migration Doc for #378
  docs/.template.md
  docs/archive/graph/AadLogin.md
  docs/archive/graph/PeoplePicker.md
  docs/archive/graph/PlannerTaskList.md
  docs/archive/graph/PowerBIEmbedded.md
  docs/archive/graph/ProfileCard.md
  docs/archive/graph/SharePointFileList.md
  docs/helpers/HttpHelper.md
  docs/helpers/HttpHelperRequest.md
  docs/helpers/HttpHelperResponse.md
  docs/parsers/MarkdownParser.md
  docs/parsers/RSSParser.md
  docs/services/Facebook.md
  docs/services/GraphLogin.md
  docs/services/Linkedin.md
  docs/services/MicrosoftGraph.md
  docs/services/MicrosoftTranslator.md
  docs/services/OneDrive.md
  docs/services/Twitter.md
  docs/services/Weibo.md
  docs/toc.md
Labels: Ready to Merge :rocket:, doc-provided :heavy_check_mark:

#376 Memory2D<T>/Span2D<T> docs
  docs/high-performance/Memory2D.md
  docs/high-performance/Span2D.md
  docs/toc.md
Labels: Ready for Review ✋, Ready to Merge :rocket:, doc-provided :heavy_check_mark:

#387 Lazy loading threshold
  docs/controls/ImageEx.md
Labels: doc-provided :heavy_check_mark:, in-progress :construction:, waiting on code PR :thinking:

#394 Update documentation to match code change for ObservableGroup
  docs/collections/ObservableGroups.md
Labels: doc-provided :heavy_check_mark:

#410 Composition conditional value
  docs/animations/Expressions.md
Labels: Ready to Merge :rocket:, doc-provided :heavy_check_mark:

#427 Patch 1
  .github/PULL_REQUEST_TEMPLATE.md
  .openpublishing.publish.config.json
  docs/controls/datagrid_guidance/editing_inputvalidation.md
Labels: DataGrid, Ready to Merge :rocket:, doc-enhancement :sparkles:

#430 Update customize_autogenerated_columns.md
  docs/controls/datagrid_guidance/customize_autogenerated_columns.md
Labels: DataGrid, Ready for Review ✋, Ready to Merge :rocket:, doc-bug :beetle:

#423 Update Eyedropper.md
  docs/controls/Eyedropper.md
Labels: Ready for Review ✋, doc-bug :beetle:

#420 Add details and example for setting RowHeaderStyle
  docs/controls/datagrid_guidance/styling_formatting_options.md
Labels: Ready for Review ✋, doc-enhancement :sparkles:, doc-provided :heavy_check_mark:

#417 chore: Fixes Typo in ReadOnlySpanExtensions.xml
  dotnet/xml/Microsoft.Toolkit.HighPerformance.Extensions/ReadOnlySpanExtensions.xml
Labels: doc-enhancement :sparkles:, in-progress :construction:

#416 chore: Copy Markdownlint from dotnet/docs
  .github/workflows/markdownlint-problem-matcher.json
  .github/workflows/markdownlint.yml
  .markdownlint.json
Labels: Ready for Review ✋, doc-enhancement :sparkles:

#412 Standardize titles
  docs/controls/AdaptiveGridView.md
  docs/controls/BladeView.md
  docs/controls/CameraPreview.md
  docs/controls/Carousel.md
  docs/controls/DataGrid.md
  docs/controls/DockPanel.md
  docs/controls/DropShadowPanel.md
  docs/controls/Expander.md
  docs/controls/Eyedropper.md
  docs/controls/GridSplitter.md
  docs/controls/HeaderedContentControl.md
  docs/controls/HeaderedItemsControl.md
  docs/controls/HeaderedTextBlock.md
  docs/controls/ImageCropper.md
  docs/controls/ImageEx.md
  docs/controls/InAppNotification.md
  docs/controls/InfiniteCanvas.md
  docs/controls/LayoutTransformControl.md
  docs/controls/Loading.md
  docs/controls/MarkdownTextBlock.md
  docs/controls/MasterDetailsView.md
  docs/controls/Menu.md
  docs/controls/OrbitView.md
  docs/controls/RadialGauge.md
  docs/controls/RadialProgressBar.md
  docs/controls/RangeSelector.md
  docs/controls/RemoteDevicePicker.md
  docs/controls/RotatorTile.md
  docs/controls/ScrollHeader.md
  docs/controls/StaggeredPanel.md
  docs/controls/TabView.md
  docs/controls/TextToolbar.md
  docs/controls/TileControl.md
  docs/controls/TokenizingTextBox.md
  docs/controls/UniformGrid.md
  docs/controls/WrapPanel.md
  docs/toc.md
Labels: Ready to Merge :rocket:, doc-enhancement :sparkles:
