Repository MicrosoftDocs/WindowsCommunityToolkitDocs, pull requests merged in 2021-05, with the labels that each got.

#487 Remove view parameter from URLs
  docs/collections/ObservableGroups.md
Labels: Ready for Review ✋, doc-enhancement :sparkles:

#489 Update Missing Controls in Toc
  docs/toc.md
Labels: Ready for Review ✋, Toc, doc-enhancement :sparkles:

#492 Fix Doc Warnings
  docs/controls/wpf-winforms/InkCanvas.md
  docs/controls/wpf-winforms/InkToolbar.md
  docs/controls/wpf-winforms/MapControl.md
  docs/controls/wpf-winforms/MediaPlayerElement.md
  docs/controls/wpf-winforms/WebView.md
  docs/controls/wpf-winforms/WebViewCompatible.md
  docs/controls/wpf-winforms/WindowsXamlHost.md
Labels: Ready for Review ✋, doc-enhancement :sparkles:

#493 Update merge process in docs
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
Labels: Ready for Review ✋, doc-enhancement :sparkles:

#501 Update RangeSelector Doc
  docs/controls/RangeSelector.md
Labels: Ready to Merge :rocket:, doc-enhancement :sparkles:

#505 Update WebView Page
  docs/controls/wpf-winforms/WebView.md
Labels: Ready to Merge :rocket:, doc-enhancement :sparkles:

#507 Fixed animation archived links in ToC
  docs/toc.md
Labels: Ready to Merge :rocket:, doc-enhancement :sparkles:

#512 Add System.Text.Json
  docs/helpers/ObjectSerializer.md
Labels: Ready to Merge :rocket:, doc-enhancement :sparkles:

#498 Links: Windows Community Toolkit (2021-03b)
  docs/animations/Blur.md
  docs/animations/CompositionAnimations.md
  docs/animations/Fade.md
  docs/animations/ImplicitAnimations.md
  docs/animations/Offset.md
  docs/animations/Rotate.md
  docs/animations/Saturation.md
  docs/animations/Scale.md
  docs/archive/graph/PeoplePicker.md
  docs/brushes/RadialGradientBrush.md
  docs/controls/Expander.md
  docs/controls/LayoutTransformControl.md
  docs/controls/MarkdownTextBlock.md
  docs/controls/RadialGauge.md
  docs/controls/StaggeredPanel.md
  docs/controls/UniformGrid.md
  docs/controls/datagrid_guidance/editing_inputvalidation.md
  docs/controls/layout/StaggeredLayout.md
  docs/controls/layout/WrapLayout.md
  docs/controls/wpf-winforms/WebView-known-issues.md
  docs/controls/wpf-winforms/WebView.md
  docs/extensions/ArrayExtensions.md
  docs/extensions/FrameworkElementExtensions.md
  docs/extensions/Hyperlink.md
  docs/extensions/ListViewBase.md
  docs/extensions/LogicalTree.md
  docs/extensions/MatrixExtensions.md
  docs/extensions/MatrixHelperEx.md
  docs/extensions/MouseCursor.md
  docs/extensions/TransformExtensions.md
  docs/extensions/VisualEx.md
  docs/extensions/VisualTree.md
  docs/extensions/WebView.md
  docs/helpers/DispatcherHelper.md
  docs/helpers/HttpHelper.md
  docs/helpers/HttpHelperRequest.md
  docs/helpers/HttpHelperResponse.md
  docs/helpers/IncrementalLoadingCollection.md
  docs/helpers/ObjectSerializer.md
  docs/helpers/SystemInformation.md
  docs/platform-specific/PlatformSpecificAnalyzer.md
  docs/services/MicrosoftGraph.md
  docs/services/OneDrive.md
Labels: Ready to Merge :rocket:

#521 Update TextBoxExtensions.md
  docs/extensions/TextBoxExtensions.md
Labels: doc-enhancement :sparkles:

#518 Update TOC
  docs/toc.md
Labels: Toc, doc-enhancement :sparkles:

#526 Fix common misspellings
  docs/animations/AnimationSet.md
  docs/animations/ScrollViewerExtensions.md
  docs/controls/WrapPanel.md
  docs/extensions/DependencyObjectExtensions.md
  docs/extensions/ListViewBase.md
  docs/extensions/LogicalTree.md
  docs/extensions/ScrollViewerExtensions.md
  docs/extensions/VisualTree.md
  docs/gaze/GazeInteractionLibrary.md
  docs/helpers/BackgroundTaskHelper.md
  docs/helpers/IncrementalLoadingCollection.md
  docs/high-performance/Ref.md
Labels: Ready to Merge :rocket:, doc-enhancement :sparkles:

#520 Docs for Graph-Controls updates
  docs/archive/graph/PlannerTaskList.md
  docs/archive/graph/PowerBIEmbedded.md
  docs/archive/graph/SharePointFileList.md
  docs/graph/authentication/IProvider.md
  docs/graph/authentication/MsalProvider.md
  docs/graph/authentication/ProviderManager.md
  docs/graph/authentication/WindowsProvider.md
  docs/graph/authentication/overview.md
  docs/graph/controls/LoginButton.md
  docs/graph/controls/PeoplePicker.md
  docs/graph/controls/PersonView.md
  docs/graph/helpers/ProviderExtensions.md
  docs/graph/overview.md
  docs/graph/providers/InteractiveProviderBehavior.md
  docs/graph/providers/MockProviderBehavior.md
  docs/services/MicrosoftGraph.md
  docs/services/OneDrive.md
  docs/toc.md
Labels: Toc, doc-enhancement :sparkles:
